.cartCardcontainer{
    display: flex;
    /* width: 40rem; */
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cartCardcontainer img{
    width: 10rem;
    height: 12rem;
}

.quantityButtonContainer{
    margin:1rem 0rem;
}

.quantityButtonContainer span{
    margin: 0rem 1rem;
}

.buttonsContainer{
    display: flex;
    flex-direction: column;
    gap: .5rem;

}
.removeFromCart{
    color:#fc7684 ;
    border: none;
    border-radius: 5px;
}
.moveTowishlist{
    background-color: #011324;
    color: white;
    border: none;
    border-radius: 5px;
}
.quantityButtonContainer button{
    border: none;
    background-color: grey;
    color: white;
    font-weight: bolder;
    font-size: larger;
}
.cartCardImage{
    margin-right: 1rem;
}
.cartCardProductDescription{
    overflow: hidden;
}
