.cartCardcontainer{
    display: flex;
    width: 40rem;
    padding: 1rem;
    box-shadow:  0 4px 12px 0 rgba(0, 0, 0, 0.6);
}
.cartCardcontainer img{
    width: 10rem;
}

.quantityButtonContainer{
    margin:1rem 0rem;
}

.quantityButtonContainer span{
    margin: 0rem 1rem;
}

.buttonsContainer{
    display: flex;
    gap: 2rem;

}
.buttonsContainer button{
    background-color: #121932;
    border: none;
    color: white;
    border-radius: 4px;
}
.quantityButtonContainer button{
    border: none;
    background-color: grey;
    color: white;
    font-weight: bolder;
    font-size: larger;
}