.proileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper{
    text-align: center;
    padding: 15px 25px;
    box-shadow:  0 4px 12px 0 rgba(0, 0, 0, 0.6);
}
.image{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow:  0 4px 12px 0 rgba(0, 0, 0, 0.6);
}
.button{
    color:white;
    width: 100%;
    background-color: #fc7684;
    border: none;
    border-radius: 5px;
}
.bold{
    font-weight: 700;
}