.heroImage{
    width: 100%;
    margin-top: 2rem;
    /* object-fit: contain; */
}

.categoryImage{
    width: 20rem;
}
.categoryList{
    display: flex;
    justify-content: space-around;
}
h1{
    text-align: center;
}
