.container{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.addressListContainer{
    width: fit-content;
    box-shadow:  0 4px 12px 0 rgba(0, 0, 0, 0.6);
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
}
.addressList{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 2px solid black;
    padding-left: 10px;
}
.lineHeight{
    line-height: 10px;
}
.addressContainer{
    text-align: center;
}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}
.orderDetailsContainer{
    box-shadow:  0 4px 12px 0 rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 5px;
}
.textAlign{
    text-align: center;
}

.button{
    width: 100%;
    color: white;
    background-color: #fc7684;
    border: none;
    border-radius: 5px;
}
.label{
    cursor: pointer;
}
