nav{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    box-shadow:  0 4px 12px 0 rgba(0, 0, 0, 0.6);
    /* margin-bottom: 0.5rem; */
}

.brand-name{
    font-size: larger;
    color: #121932;
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
button{
    padding: .5rem 1rem;
    border-radius: 3px;
    font-size: .9rem;
}

.nav-items img{
    height: 2rem;
    width: 2rem;
}
/* img{
   
} */
