.productDetailsWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productDetailsContainer{
    width: 30rem;
    box-shadow:  0 4px 12px 0 rgba(0, 0, 0, 0.6);
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    /* text-align: center; */
}
.productDetailsProductImage{
    width: 20rem;
}
.productDetailsLineHeight{
    line-height: 0px;
}
.productDetailsProductDiscription{
    width: 80rem;
    /* text-align: justify; */
    color: #121932;
}

.productDetailsProductDiscription .discountDisplayLabel{
    font-size: large;
}
.wishlistBtn{
    width: 100%;
    border-radius: 5px ;
}
.addToCartBtn{
    width: 100%;
    background-color: #121932;
    color: white;
    margin-bottom: .2rem;
    border-radius: 5px ;
}
.productDetailsPricing{
    display: flex;
    gap: .3rem;
}

@media(600px>=width){
    .productDetailsContainer{
        width: 20rem;
    }
}

@media(430px>=width){
    .productDetailsContainer{
        width: 90%;
    }
}